body
{
  margin: 0px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

header
{
  background-color: rgb(129, 19, 232);
  height: 15vh;
  align-items: center;
  display: flex;
  justify-content: center;
  color: aliceblue;
}
header > h3
{
  margin: 0px;
}
header > img 
{
  height: 50px;
}